[submodule "codeforlife-portal"]
	path = codeforlife-portal
	url = https://github.com/ocadotechnology/codeforlife-portal.git
[submodule "rapid-router"]
	path = rapid-router
	url = https://github.com/ocadotechnology/rapid-router.git
[submodule "codeforlife-deploy-appengine"]
	path = codeforlife-deploy-appengine
	url = https://github.com/ocadotechnology/codeforlife-deploy-appengine.git
[submodule "frontend/contributor"]
	path = frontend/contributor
	url = https://github.com/ocadotechnology/codeforlife-contributor-frontend.git
[submodule "backend/contributor"]
	path = backend/contributor
	url = https://github.com/ocadotechnology/codeforlife-contributor-backend.git
[submodule "frontend/portal"]
	path = frontend/portal
	url = https://github.com/ocadotechnology/codeforlife-portal-frontend.git
[submodule "backend/portal"]
	path = backend/portal
	url = https://github.com/ocadotechnology/codeforlife-portal-backend.git
[submodule "frontend/rapid-router"]
	path = frontend/rapid-router
	url = https://github.com/ocadotechnology/codeforlife-rapid-router-frontend.git
[submodule "backend/rapid-router"]
	path = backend/rapid-router
	url = https://github.com/ocadotechnology/codeforlife-rapid-router-backend.git
[submodule "frontend/sso"]
	path = frontend/sso
	url = https://github.com/ocadotechnology/codeforlife-sso-frontend.git
[submodule "backend/sso"]
	path = backend/sso
	url = https://github.com/ocadotechnology/codeforlife-sso-backend.git
[submodule "frontend/template"]
	path = frontend/template
	url = https://github.com/ocadotechnology/codeforlife-template-frontend.git
[submodule "backend/template"]
	path = backend/template
	url = https://github.com/ocadotechnology/codeforlife-template-backend.git
[submodule "backend/package"]
	path = backend/package
	url = https://github.com/ocadotechnology/codeforlife-package-python.git
[submodule "frontend/package"]
	path = frontend/package
	url = https://github.com/ocadotechnology/codeforlife-package-javascript.git
[submodule "backend/scheduler"]
	path = backend/scheduler
	url = https://github.com/ocadotechnology/codeforlife-scheduler-backend.git
