[submodule "codeforlife-portal"]
	path = codeforlife-portal
	url = https://github.com/ocadotechnology/codeforlife-portal.git
[submodule "rapid-router"]
	path = rapid-router
	url = https://github.com/ocadotechnology/rapid-router.git
[submodule "codeforlife-deploy-appengine"]
	path = codeforlife-deploy-appengine
	url = https://github.com/ocadotechnology/codeforlife-deploy-appengine.git
[submodule "codeforlife-package-python"]
	path = codeforlife-package-python
	url = https://github.com/ocadotechnology/codeforlife-package-python.git
[submodule "codeforlife-package-javascript"]
	path = codeforlife-package-javascript
	url = https://github.com/ocadotechnology/codeforlife-package-javascript.git
[submodule "codeforlife-portal-frontend"]
	path = codeforlife-portal-frontend
	url = https://github.com/ocadotechnology/codeforlife-portal-frontend.git
[submodule "codeforlife-portal-backend"]
	path = codeforlife-portal-backend
	url = https://github.com/ocadotechnology/codeforlife-portal-backend.git
[submodule "codeforlife-template-backend"]
	path = codeforlife-template-backend
	url = https://github.com/ocadotechnology/codeforlife-template-backend.git
[submodule "codeforlife-contributor-backend"]
	path = codeforlife-contributor-backend
	url = https://github.com/ocadotechnology/codeforlife-contributor-backend.git
[submodule "codeforlife-template-frontend"]
	path = codeforlife-template-frontend
	url = https://github.com/ocadotechnology/codeforlife-template-frontend.git
[submodule "codeforlife-contributor-frontend"]
	path = codeforlife-contributor-frontend
	url = https://github.com/ocadotechnology/codeforlife-contributor-frontend.git
[submodule "codeforlife-sso-backend"]
	path = codeforlife-sso-backend
	url = https://github.com/ocadotechnology/codeforlife-sso-backend.git
[submodule "codeforlife-sso-frontend"]
	path = codeforlife-sso-frontend
	url = https://github.com/ocadotechnology/codeforlife-sso-frontend.git
[submodule "codeforlife-rapid-router-backend"]
	path = codeforlife-rapid-router-backend
	url = https://github.com/ocadotechnology/codeforlife-rapid-router-backend.git
[submodule "codeforlife-rapid-router-frontend"]
	path = codeforlife-rapid-router-frontend
	url = https://github.com/ocadotechnology/codeforlife-rapid-router-frontend.git
[submodule "codeforlife-scheduler-backend"]
	path = codeforlife-scheduler-backend
	url = https://github.com/ocadotechnology/codeforlife-scheduler-backend.git
