[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "==0.4.6"
inquirer = "==3.4.0"
pyjson5 = "==1.6.8"

[dev-packages]
black = "==24.8.0"
pytest = "==8.3.3"
mypy = "==1.11.2"
pylint = "==3.2.7"
types-colorama = "==0.4.15.20240311"

[requires]
python_version = "3.12"
