version: "3" # https://docker-docs.uclv.cu/compose/compose-file/

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/codeforlife-workspace:cached
    # Overrides default so things don't shut down after the process ends
    command: sleep infinity
    networks:
      - db
      - cache

  db:
    image: postgres:17
    restart: unless-stopped
    volumes:
      - ../scripts/database:/docker-entrypoint-initdb.d
      - ../.postgres-data:/var/lib/postgresql/data
    networks:
      - db
    environment:
      POSTGRES_MULTIPLE_DATABASES: contributor,portal,template
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password

  cache:
    image: redis:7.4
    restart: unless-stopped
    volumes:
      - ../.redis-data:/data
    networks:
      - cache

networks:
  db:
    driver: bridge
  cache:
    driver: bridge
