[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "==24.8.0"
pytest = "==8.3.3"
mypy = "==1.11.2"
pylint = "==3.2.7"
types-requests = "==2.31.0.10"

[requires]
python_version = "3.12"
